@page "/playmedia/{videId}"
@inject NavigationManager Nav
@inject Data Datas
@inject IJSRuntime Js

<PageTitle>@Datas.GetVideo(VideId).CommentName.Substring(6)</PageTitle>
<MudPaper
    Class="d-flex flex-wrap justify-center "
    Style="background-color:transparent"
    Elevation="0" Width="100%">
    <MudGrid Spacing="0">
        <MudItem xs="12" lg="9">
            <div class="video-container ml-1">
                <iframe width="560"
                        height="315"
                        src="@Datas.GetVideo(VideId).VideoUrl"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <MudList Style="background-color:lightgrey" Class="ml-1">
                <MudListItem>
                    <MudText>
                        @Datas.GetVideo(VideId).Description
                    </MudText>
                </MudListItem>
                <MudListItem>
                    @if (_show)
                    {
                        <MudButton
                            OnClick="ShowComment"
                            Color="Color.Secondary"
                            Variant="Variant.Outlined">
                            Show Comment
                        </MudButton>
                    }
                    else
                    {
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Giscuss">
                                <Giscus Term="@Datas.GetVideo(VideId).CommentName"/>
                            </MudTabPanel>
                            <MudTabPanel
                                Text="Disqus"
                                OnClick="@(() => LoadGiscud(Datas.GetVideo(VideId).CommentName))">
                                <div id="disqus_thread"></div>
                            </MudTabPanel>
                        </MudTabs>
                    }
                </MudListItem>
            </MudList>
        </MudItem>
        <MudItem xs="12" lg="3">
            <MudPaper Class="d-flex flex-wrap justify-center "
                      Style="background-color:transparent"
                      Elevation="0"
                      Width="100%">
                @foreach (var item in Datas.GetRandomVideo())
                {
                    <MudPaper @onclick="()=>GoToPage(item)" Style="background-color:transparent" Elevation="0">
                        <Thumbnail VideoModel="@item"/>
                    </MudPaper>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>
<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }

    body::-webkit-scrollbar {
        display: none;
    }
</style>