@using TomAndJerry.Services
@using TomAndJerry.Model
@inject IStickerService StickerService
@inherits BaseComponent

@if (currentSticker != null)
{
    <div class="random-sticker @CssClass" style="@Style">
        <img src="@currentSticker.ImagePath" 
             alt="@currentSticker.DisplayName" 
             class="w-full h-full object-cover @ImageCssClass sticker-image"/>
    </div>
}
else
{
    <!-- Fallback to Tom.png -->
    <div class="random-sticker @CssClass" style="@Style">
        <img src="Tom.png" 
             alt="Tom & Jerry" 
             class="w-full h-full object-cover @ImageCssClass sticker-image"/>
    </div>
}


